

{{!-- <div class="container">
    <div class="row row-centered">


        <div class="col-sm-12 col-centered"> --}}


{{!-- videos --}}
<div class="container">
    <div class="row col--6">
    
    <div class="margin-top">
        <h2>
            {{theUser.username}}
        </h2>
<br><br>
<div class="white-box centered">
<img class=" avatar-size" src="{{theUser.image}}" alt=""> 
</div>



<br><br>

<div class="">
    <p class="bold">Name:</p>
    {{theUser.name}}
    <br>
</div>

<div class="white-box margin-top-10">
    <p><b>Bio:</b>  
    <br>
    {{theUser.about}}
    </p>
</div>
<br><br><br>




<a href="/profile/{{theUser._id}}/update" class="myButton">edit user info</a>
<br><br>
<a href="/video/create" class="myButton">add video</a>
<br><br>
{{!-- <a href="/video/update">edit videos</a> --}}

</div>
</div>
<br><br>

</div>

{{!-- Display list of all users videos --}}
{{#each videosFromDB}}
<p class="font-color-2">
    <a href="/video/{{this._id}}">
        {{this.title}} 
    </a>
</p>
<hr>


{{/each}}





